/* border box everywhere*/
* {
  box-sizing: border-box;
}

html{
	height:100%;
}

body{
  background: #ebeeef;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color:#37515e;
}

/* - - - - - MAIN CODE - - - - - */

#app{
  width:1200px;
  margin: auto;
  padding: 20px 30px;
}

a{
  text-decoration: none;
}

hr{
  height:0px;
  border-top: 1px solid #c3cbcf;
}

.tasks-alldone{
  text-align: right;
}

.tasks-alldone a{
  color:#35ba67;
  font-size:24px;
}

h1{
  font-size: 36px;
  text-align: left;
  font-weight: 300;
}

ul{
  padding:0;
}

ul li{
  position: relative;
  list-style: none;
  border:1px solid #c3cbcf;
  background-color: #FFF;
  font-size: 24px;
  height:80px;
  line-height: 72px;
  padding: 0 80px 0 20px;
  width:100%;
  text-overflow: ellipsis; /* handling text too long */
  overflow:hidden;
  white-space: nowrap;
}

/* checkbox */
.task-check{
  position: absolute;
  right:20px;
  top:15px;
  height:48px;
  width:48px;
  border:1px solid #c3cbcf;
  border-radius: 24px;
  line-height: 46px;
  text-align: center;
  color: #c3cbcf;
}
.task-finished{
  color:#c3cbcf;
}

.task-finished .task-check{
  color:#FFF;
  background-color: #35ba67;
  border-color: #309857;
}

.task-add{

}
.task-add input{
  float:left;
  font-size: 36px;
  font-weight: 300;
  height:86px;
  border:0;
  appearance:none;
  background: transparent;
  width:48%;
  margin-right: 10px;
}
.task-add input:focus{
  outline: none;
}
.task-add input::placeholder{
  color:#37515e;
}

.task-add a{
  color:#9e2ccd;
  font-size: 72px;
}

/* - - - - - - MEDIA QUERIES - - - - - */

/* special query for all medias except mobile : width > 767 */
@media (min-width: 768px) {
  ul li{
    width:50%;
  }
  /* even items are on the right */
  ul li:nth-child(even){
    margin-left: 50%;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 -1px 0px #c3cbcf, 0 1px 0 #c3cbcf; /* trick to align to border top/bottom with the previous item */
    position: relative;
    left: -1px;/* trick to align to border left with the center*/
    height:78px;
    line-height: 70px;
  }

  /* little array on each item */
  ul li:nth-child(even):before{
    font-family: FontAwesome;
    content: "\f0da";
    position: absolute;
    left:0;
    color:#c3cbcf;
  }
  ul li:nth-child(odd):before{
    font-family: FontAwesome;
    content: "\f0d9";
    position: absolute;
    right:0;
    color:#c3cbcf;
  }
}

/* small desktops */
@media (max-width: 1250px) {
  #app{
    width:950px;
  }
}

/* tablets */
@media (max-width: 991px) {
  #app{
    width:100%;
  }
  .task-add{
    display: flex;
  }
  .task-add input{
    flex:2;
  }
}

/* smartphones */
@media (max-width: 767px) {
  #app{
    padding: 20px;
  }
  ul li{
    border-top: none;
  }
  ul li:first-child{
    border-top: 1px solid #c3cbcf;
  }

  /* we reduce font sizes */
  h1{
    font-size: 24px;
  }
  .tasks-alldone a{
    font-size:18px;
  }
  ul li{
    font-size: 18px;
  }
  .task-add input{
    font-size: 24px;
  }
}

/* small smartphones */
@media (max-width: 380px) {
  /* we reduce font sizes again */
  h1{
    font-size: 20px;
  }
  .tasks-alldone a{
    font-size:16px;
  }
  ul li{
    font-size: 16px;
  }
  .task-add input{
    font-size: 20px;
  }
}
